.cartas_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cartas_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}