@import url("https://rsms.me/inter/inter.css");

.pagination_container {
  display: flex;
  align-items: center;
  margin: 30px;
}

.arrow_text {
  display: block;
  vertical-align: middle;
  font-size: 13px;
}

.pagination_number {
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #202020;
    color: rgb(179, 179, 179);
    max-width: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
  }

  .pagination_number:hover{
    width: 50px;
    height: 50px;
  }
  


  @media (hover: hover) {
    .pagination_number:hover {
      background: #282828;
    }
  }
  .pagination_number:active {
    background: #282828;
  }
  
  .pagination_active {
    background: #282828;
    position: relative;
  }
